* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Font */
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-content: center;
  background-image: url("../imgs/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body::before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.middle {
  display: flex;
  width: 900px;
  height: 550px;
}
.left-trans {
  width: 60%;
  padding: 20px 40px;
  color: white;
  background-color: rgb(0 0 0 / 22%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right-form {
  background-color: white;
  width: 40%;
  border-radius: 10px;
  padding: 20px 40px;
}
.box {
  display: flex;
  margin-bottom: 50px;
}
.body-box {
  line-height: 25px;
}
.body-box .header {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}
.desc {
  color: #ffffffd9;
}
i {
  margin-right: 20px;
  font-size: 18px;
  margin-top: 2px;
}
h2 {
  margin-bottom: 30px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px !important;
  border-color: rgb(0 0 0 / 6%);
  outline: none;
}
button {
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  background-color: rgb(13 4 55);
  color: white;
  font-size: 12px !important;
  width: 100%;
  margin-top: 40px !important;
}
